@model MVCApplication.ViewModels.ResultViewModel

@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

@if(Model.quant > 0)

{

<h4>Showing a total of @Model.quant  random numbers:</h4>


@foreach(var element in Model.RandomNumbers)

{
    <p>@Html.DisplayFor(m => element)</p>


}

}

<br />

@ViewBag.error

